@charset "UTF-8";
.modal-dialog {
  width: 380px !important;
}

/* Usuwa wszystkie marginesy i paddingi */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Poprawia line-height */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

/* Poprawia zachowanie body */
body {
  margin: 0;
  font-family: inherit;
}

/* Usuwa podkreślenia w linkach */
a {
  text-decoration: none;
  color: inherit;
}

/* Usuwa list-style z ul/ol */
ul,
ol {
  list-style: none;
}

/* Obrazy nie wychodzą poza kontener */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Ujednolicenie inputów i buttonów */
input,
button,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

/* Przycisk ma pointer, jeśli jest interaktywny */
button {
  cursor: pointer;
}

/* Tabela bez dziwnych odstępów */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  margin: 0 auto;
  width: 1110px;
  padding-left: 15px;
  padding-right: 15px;
}

.video-div-line {
  padding-top: 165px;
  margin: 0 auto;
  width: 1110px;
  border-bottom: 1px solid #e0e0e0;
}

.header {
  position: static;
  top: 0;
  position: absolute;
  width: 100%;
  border-bottom: 1px solid rgba(161, 161, 161, 0.5);
}

.header-list {
  margin-bottom: 0px !important;
  display: flex;
  justify-content: right;
  padding-top: 40px;
  color: #ffffff;
  gap: 30px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
}

.header-list-li {
  position: relative;
  padding-bottom: 39px;
}

.header-list-li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.3s ease;
}

.header-list-li:hover::after {
  width: 100%;
}

.hero {
  background-repeat: no-repeat;
  padding-top: 319px;
  background-image: url("../../img/background-images/header-background-image.webp");
  padding-bottom: 335px;
}

.hero-p {
  text-align: center;
  padding-bottom: 20px;
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
}

.hero-h1 {
  text-align: center;
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 48px;
  padding-bottom: 50px;
}

.hero-btn {
  display: block;
  margin: 0 auto;
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  background-color: #4985ff;
  width: 200px;
  height: 45px;
  border-radius: 30px;
}

.services {
  padding-top: 110px;
  padding-bottom: 105px;
}

.services-h2 {
  margin-bottom: 32px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

.services-p {
  margin-bottom: 70px;
  color: #999999;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

.services-list {
  margin-bottom: 55px;
  justify-content: center;
  gap: 27px;
  display: flex;
}

.services-list-p {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
}

.services-list-p2 {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
}

.services-btn {
  display: block;
  margin: 0 auto;
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  background-color: #4985ff;
  width: 200px;
  height: 45px;
  border-radius: 30px;
}

.standarts {
  padding-top: 100px;
  display: flex;
  background-color: #f6f6f8;
}

.objednalka {
  padding-bottom: 90px;
  border-bottom: 1px solid #e0e0e0;
  gap: 121px;
  display: flex;
}

.standarts-text-div {
  width: 489px;
}

.standarts-h3 {
  padding-bottom: 60px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 36px;
}

.standarts-p {
  padding-bottom: 42px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
}

.standarts-a {
  color: #4985ff;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  text-decoration: underline;
}

.standarts-img {
  width: 500px;
  height: 400px;
}

.all-services {
  width: 100%;
  background: #5f12d0;
  background: linear-gradient(180deg, rgb(95, 18, 208) 50%, rgb(255, 255, 255) 50%);
}

.all-services-h3 {
  padding-bottom: 70px;
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 36px;
}

.all-services-btn {
  margin-bottom: 93px;
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  background-color: #4985ff;
  width: 200px;
  height: 45px;
  border-radius: 30px;
  display: inline-block;
}

.all-services-picture {
  width: 350px;
  height: 300px;
}

.all-services-list-li-img {
  padding-bottom: 30px;
  width: 350px;
  height: 300px;
}

.all-services-div {
  padding-top: 100px;
  padding-bottom: 85px;
}

.all-services-line2 {
  padding-bottom: 100px;
  margin: 0 auto;
  width: 1110px;
  border-top: 1px solid #e0e0e0;
}

.all-services-div-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.all-services-list {
  justify-content: center;
  display: flex;
}

.all-services-list {
  gap: 30px;
}

.all-services-span-number {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  color: #4985ff;
}

.all-services-span-text {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}

.all-services-list-li-p {
  padding-top: 30px;
  padding-bottom: 47px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  color: #999999;
}

.all-services-list-li-a {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  text-decoration: underline;
  color: #4985ff;
}

.all-projects {
  padding-top: 100px;
  padding-bottom: 130px;
  background-color: #f6f6f8;
  width: 100%;
}

.all-projects-h3 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

.all-projects-p {
  padding-top: 38px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #999999;
}

.all-projects-list {
  justify-content: center;
  margin-top: 77px;
  margin-bottom: 50px;
  display: flex;
  gap: 30px;
}

.all-projects-btn {
  display: block;
  margin: 0 auto;
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  background-color: #4985ff;
  width: 200px;
  height: 45px;
  border-radius: 30px;
}

.video {
  padding-top: 85px;
  background-image: url("../../img/background-images/Rectangle.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 570px;
}

.video-h3 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #ffffff;
}

.video-p {
  padding-bottom: 70px;
  padding-top: 30px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}

.div-video {
  width: 970px;
  border-radius: 10px;
  overflow: hidden;
}

.video-div {
  width: 970px;
  position: relative;
}

.video-btn-div {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.video-img {
  width: 100%;
  height: 430px;
}

.video-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 21px;
  width: 300px;
  height: 100px;
  border-radius: 200px;
  border: 1px solid #ffffff;
}

.video-btn-svg {
  height: 60px;
  width: 60px;
}

.video-btn-span {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}

.email-h3 {
  padding-top: 85px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.email-p {
  padding-top: 20px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #999999;
}

.form-control1 {
  justify-content: center;
  display: flex;
  padding-top: 30px;
  text-align: center;
}

.form-control-input {
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.2509803922);
  margin-right: 0px;
  right: 0;
  width: 489px;
  height: 45px;
  font-family: Montserrat;
  font-weight: 400;
  padding-left: 33px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.form-control-btn {
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.2509803922);
  left: 0;
  width: 190px;
  height: 45px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  background-color: #4985ff;
}

.email-p2 {
  padding-top: 35px;
  padding-bottom: 85px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: #999999;
}

.footer {
  padding-top: 70px;
  padding-bottom: 30px;
  width: 100%;
  background-color: #f6f6f8;
}

.footer-list1-h5 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
}

.footer-list2-h5 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
}

.footer-list3-h5 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
}

.footer-list4-h5 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
}

.footer-list1-a {
  color: #999999;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
}

.footer-list2-a {
  color: #999999;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
}

.footer-list3-a {
  color: #999999;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
}

.footer-list4-a {
  color: #999999;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
}

.footer-text-objednalka {
  padding-bottom: 70px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.footer-list1-svg {
  width: 15px;
  height: 15px;
}

.footer-list1-li {
  padding-top: 30px;
  display: flex;
  text-align: center;
  gap: 15px;
}

.footer-list123-svg {
  width: 10px;
  height: 10px;
}

.footer-list2-li,
.footer-list3-li,
.footer-list4-li {
  gap: 10px;
  margin-top: 30px;
}

.footer-div-line {
  padding-bottom: 30px;
  margin: 0 auto;
  width: 1110px;
  border-top: 1px solid #e0e0e0;
}

.footer-p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: #999999;
}

.our-projects {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #f6f6f8;
}

.our-projects-list-div {
  align-items: center;
  display: flex;
  justify-content: center;
}

.our-projects-list {
  gap: 100px;
  justify-content: center;
  display: flex;
}

.our-projects-list-p {
  margin-left: 17px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 36px;
  color: #000000;
}

.our-projects-list-p2 {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  color: #999999;
}

.our-projects-list-svg {
  width: 30px;
  height: 26px;
}