@import './base/reset';
@import './base/container';
@import './base/lines';

@import './components/header';
@import './components/hero';
@import './components/services';
@import './components/standarts';
@import './components/all-services';
@import './components/all-projects';
@import './components/video';
@import './components/email';
@import './components/footer';
@import './components/our-projects';
