.all-projects {
  padding-top: 100px;
  padding-bottom: 130px;

  background-color: #f6f6f8;
  width: 100%;
}
.all-projects-h3 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
.all-projects-p {
  padding-top: 38px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #999999;
}
.all-projects-list {
  justify-content: center;
  margin-top: 77px;
  margin-bottom: 50px;
  display: flex;
  gap: 30px;
}
.all-projects-btn {
  display: block;
  margin: 0 auto;
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  background-color: #4985ff;
  width: 200px;
  height: 45px;
  border-radius: 30px;
}
