.all-services {
  width: 100%;
  background: linear-gradient(to right, #504dc2, #5f12d0);
}

.all-services-h3 {
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 36px;
}
.all-services-btn {
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  background-color: #4985ff;
  width: 200px;
  height: 45px;
  border-radius: 30px;
  display: inline-block;
}

.all-services-picture {
  width: 350px;
  height: 300px;
}
.all-services-list-li-img {
  width: 350px;
  height: 300px;
}
.all-services-div-list {
  display: flex;
}
.all-services-list {
  justify-content: center;
  display: flex;
}
.all-services-list {
  gap: 30px;
}

.all-services-span-number {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  color: #4985ff;
}
.all-services-span-text {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}
.all-services-list-li-p {
  padding-top: 30px;
  padding-bottom: 47px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  color: #999999;
}
.all-services-list-li-a {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  text-decoration: underline;
  color: #4985ff;
}
.all-services-line2 {
  border-top: 1px solid rgba(161, 161, 161, 0.5);
  width: 1110px;
}
