.all-services {
  width: 100%;
  background: #5f12d0;
  background: linear-gradient(
    180deg,
    rgba(95, 18, 208, 1) 50%,
    rgba(255, 255, 255, 1) 50%
  );
}

.all-services-h3 {
  padding-bottom: 70px;
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 36px;
}
.all-services-btn {
  margin-bottom: 93px;
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  background-color: #4985ff;
  width: 200px;
  height: 45px;
  border-radius: 30px;
  display: inline-block;
}

.all-services-picture {
  width: 350px;
  height: 300px;
}
.all-services-list-li-img {
  padding-bottom: 30px;
  width: 350px;
  height: 300px;
}
.all-services-div {
  padding-top: 100px;
  padding-bottom: 85px;
}

.all-services-line2 {
  padding-bottom: 100px;
  margin: 0 auto;
  width: 1110px;
  border-top: 1px solid #e0e0e0;
}
.all-services-div-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.all-services-list {
  justify-content: center;
  display: flex;
}
.all-services-list {
  gap: 30px;
}

.all-services-span-number {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  color: #4985ff;
}
.all-services-span-text {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}
.all-services-list-li-p {
  padding-top: 30px;
  padding-bottom: 47px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  color: #999999;
}
.all-services-list-li-a {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  text-decoration: underline;
  color: #4985ff;
}
