.email-h3 {
  padding-top: 85px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}
.email-p {
  padding-top: 20px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #999999;
}
.form-control {
  padding-top: 30px;
  text-align: center;
}
.form-control-input {
  width: 489px;
  height: 45px;
  font-family: Montserrat;
  font-weight: 400;
  padding-left: 33px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.form-control-btn {
  width: 190px;
  height: 45px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  background-color: #4985ff;
}
.email-p2 {
  padding-top: 35px;
  padding-bottom: 85px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: #999999;
}
