.footer {
  padding-top: 70px;
  padding-bottom: 30px;
  width: 100%;
  background-color: #f6f6f8;
}
.footer-list1-h5 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
}
.footer-list2-h5 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
}
.footer-list3-h5 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
}
.footer-list4-h5 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
}
.footer-list1-a {
  color: #999999;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
}
.footer-list2-a {
  color: #999999;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
}
.footer-list3-a {
  color: #999999;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
}
.footer-list4-a {
  color: #999999;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
}
.footer-text-objednalka {
  padding-bottom: 70px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.footer-list1-svg {
  width: 15px;
  height: 15px;
}

.footer-list1-li {
  padding-top: 30px;
  display: flex;
  text-align: center;
  gap: 15px;
}

.footer-list123-svg {
  width: 10px;
  height: 10px;
}
.footer-list2-li,
.footer-list3-li,
.footer-list4-li {
  gap: 10px;
  margin-top: 30px;
}
.footer-div-line {
  padding-bottom: 30px;
  margin: 0 auto;
  width: 1110px;
  border-top: 1px solid #e0e0e0;
}
.footer-p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: #999999;
}
