.footer {
  margin-top: 500px;
  width: 100%;
  height: 413px;
  background-color: #f6f6f8;
}
.footer-list1-h5 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
}
.footer-list2-h5 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
}
.footer-list3-h5 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
}
.footer-list4-h5 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
}
.footer-list1-a {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
}
.footer-list1-a {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
}
.footer-list2-a {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
}
.footer-list3-a {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
}
.footer-list4-a {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
}
.footer-list1-li {
  gap: 30px;
}
.footer-list2-li {
  gap: 30px;
}
.footer-list3-li {
  gap: 30px;
}
.footer-list4-li {
  gap: 30px;
}
