.header {
  top: 0;
  position: absolute;
  width: 100%;
  border-bottom: 1px solid rgba(161, 161, 161, 0.5);
  padding-bottom: 40px;
}
.header-list {
  display: flex;
  justify-content: right;
  padding-top: 40px;
  color: #ffffff;
  gap: 30px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
}
