.hero {
  background-repeat: no-repeat;
  padding-top: 319px;
  background-image: url('../../img/background-images/header-background-image.webp');
  padding-bottom: 335px;
}

.hero-p {
  text-align: center;
  padding-bottom: 20px;
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
}

.hero-h1 {
  text-align: center;
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 48px;
  padding-bottom: 50px;
}

.hero-btn {
  display: block;
  margin: 0 auto;
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  background-color: #4985ff;
  width: 200px;
  height: 45px;
  border-radius: 30px;
}
