.our-projects {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #f6f6f8;
}
.our-projects-list-div {
  align-items: center;
  display: flex;
  justify-content: center;
}

.our-projects-list {
  gap: 100px;
  justify-content: center;
  display: flex;
}
.our-projects-list-p {
  margin-left: 17px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 36px;
  color: #000000;
}
.our-projects-list-p2 {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  color: #999999;
}
.our-projects-list-svg {
  width: 30px;
  height: 26px;
}
