.services {
  padding-top: 110px;
  padding-bottom: 105px;
}
.services-h2 {
  margin-bottom: 32px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
.services-p {
  margin-bottom: 70px;
  color: #999999;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
.services-list {
  margin-bottom: 55px;
  justify-content: center;
  gap: 27px;
  display: flex;
}

.services-list-p {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
}

.services-list-p2 {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
}

.services-btn {
  display: block;
  margin: 0 auto;
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  background-color: #4985ff;
  width: 200px;
  height: 45px;
  border-radius: 30px;
}
