.standarts {
  padding-top: 100px;
  display: flex;
  background-color: #f6f6f8;
}
.objednalka {
  padding-bottom: 90px;
  border-bottom: 1px solid #e0e0e0;
  gap: 121px;
  display: flex;
}
.standarts-text-div {
  width: 489px;
}
.standarts-h3 {
  padding-bottom: 60px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 36px;
}

.standarts-p {
  padding-bottom: 42px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
}

.standarts-a {
  color: #4985ff;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  text-decoration: underline;
}
.standarts-img {
  width: 500px;
  height: 400px;
}
