.video {
  background-image: url('/img/background-images/Rectangle.webp');
  height: 570px;
  width: 100%;
}
.video-h3 {
  color: #ffffff;
  padding-top: 70px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
.video-p {
  padding-top: 30px;
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
