.video {
  padding-top: 85px;
  background-image: url('/img/background-images/Rectangle.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: auto;
}
.video-h3 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #ffffff;
}
.video-p {
  padding-top: 30px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}
.video-img {
  padding-top: 70px;
}
.video-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 21px;
  width: 300px;
  height: 100px;
  border-radius: 200px;
  border: 1px solid #ffffff;
}

.video-btn-svg {
  height: 60px;
  width: 60px;
}
.video-btn-span {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}
